body{
    padding-top:70px;
}

div.inviteButtons{
    display:inline-block;
}

.inviteButtons button{
    margin-top:0px !important;
}

div.user{
    margin-bottom:12px;
}

form textarea{
    resize:none;
}

.clear{
    clear:both;
}

.right{
    float:right;
}

.left{
    float:left;
}

#content{
    margin-top:28px;
}

img{
    margin:0 0 12px 0;
}

.none{
    display:none;
}

body{
    background-color:#f0f0f0;
}

form#login, ul#notifications_list{
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
    box-shadow:3px 3px #ccc;
    border:1px solid #bbb;
}

form#signup{
    margin-bottom:30px;
}

form#login{
    width:300px;
    padding:25px;
    background-color:#fff;
}

li.notification{
    margin:6px 20px 6px 20px;
    clear:both;
}

div#footer p{
    margin:4px 0;
}

ul{
    list-style-type:none;
}

/* Sticky footer */
/* http://twitter.github.io/bootstrap/examples/sticky-footer-navbar.html */
/* The html and body elements cannot have any padding or margin. */
html, body{
    height:100%;
}

/* Wrapper for page content to push down footer */
#pageWrapper{
    min-height:100%;
    height:auto !important;
    height:100%;
    /* Negative indent footer by it's height */
    margin:0 auto -64px;
}

/* Set the fixed height of the footer here */
#footerSpacer, #footer{
    height:64px;
}

#footer{
    border-top:1px solid #ccc;
    background-color:#f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width:767px){
    #footer{
        margin-left:-20px;
        margin-right:-20px;
        padding-left:20px;
        padding-right:20px;
    }
}
