<div class="container-fluid" id="chat_container">
    <div class="row">
        <div class="col-xs-10">
            <div ng-repeat="message in chat.messages" class="row-fluid">
                <p ng-switch="message.type">
                    <span ng-switch-when="message">
                        [<span ng-bind="message.dt | format: 'time'"></span>]
                        <span ng-bind="message.author"></span>:
                        <span ng-bind="message.text"></span>
                    </span>
                    <span class="system" ng-switch-when="system">
                        [<span ng-bind="message.dt | format: 'time'"></span>]
                        <span ng-bind="message.text"></span>
                    </span>
                </p>
            </div>
        </div>
        <div class="col-xs-2" style="background:green"></div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form ng-submit="chat.sendMessage()">
                <div class="form-group">
                    <input
                        class="form-control"
                        ng-model="chat.message"
                        placeholder="Send a message"
                        type="text">
                </div>
            </form>
        </div>
    </div>
</div>
