<div
    class="navbar navbar-default navbar-fixed-top"
    ng-controller="navigationCtrl as navigation"
    role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Cards and Stuff</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav" ng-if="navigation.authentication.active">
                <li
                    class="dropdown"
                    auto-close="outsideClick"
                    dropdown
                    is-open="navigation.isNotificationDropdownOpen">
                    <a class="dropdown-toggle" dropdown-toggle role="button">
                        <span ng-switch="navigation.hasNewNotifications">
                            <span ng-switch-when="true">
                                <i class="fa fa-comment-o"></i> Notifications
                            </span>
                            <span ng-default="false">
                                <i class="fa fa-comment"></i> Notifications
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="notification" role="presentation">You have no notifications.</li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="navigation.authentication.active">
                <li
                    auto-close="outsideClick"
                    class="dropdown"
                    dropdown
                    is-open="navigation.isUserDropdownOpen">
                    <a role="button" class="dropdown-toggle" dropdown-toggle>
                        <i class="fa fa-angle-down"></i> User
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a ui-sref="user"><i class="fa fa-user"></i> User Dashboard</a></li>
                        <li role="presentation"><a ng-click="navigation.logout()"><i class="fa fa-sign-out"></i> Logout</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-if="!navigation.authentication.active">
                <li
                    auto-close="outsideClick"
                    class="dropdown"
                    dropdown
                    is-open="navigation.isSigninDropdownOpen">
                    <a role="button" class="dropdown-toggle" dropdown-toggle>
                        <i class="fa fa-sign-in"></i> Login
                    </a>
                    <form
                        class="form-signin dropdown-menu"
                        id="login"
                        ng-submit="navigation.signin(navigation.username, navigation.password)"
                        role="menu">
                        <div class="form-group">
                            <label for="signinUsername">Username</label>
                            <input
                                class="form-control"
                                id="signinUsername"
                                name="signinUsername"
                                ng-model="navigation.username"
                                type="text"
                                placeholder="Username">
                        </div>
                        <div class="form-group">
                            <label for="signinPassword">Password</label>
                            <input
                                class="form-control"
                                id="signinPassword"
                                name="signinPassword"
                                ng-model="navigation.password"
                                type="password"
                                placeholder="Password">
                        </div>
                        <button class="btn btn-primary" type="submit">Login</button>
                    </form>
                </li>
                <li>
                    <a ui-sref="signup">Register</a>
                </li>
            </ul>
        </div>
    </div>
</div>
